.titulo-carta{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    position: absolute;
    top: var(--distancia-carta);
    left: 50%;
    transform: translate(-50%, 0%);
}
.conteudo-carta{
    height: 75%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-botoes{
    position: absolute;
    right: var(--distancia-carta);
    left: var(--distancia-carta);
    bottom: var(--distancia-carta);

    display: flex;
    justify-content: space-between;
}
.resposta{
    width: 75px;
    height: 58px;

    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#aprendi-agora{
    border-color: #000000;
}
#nao-lembrei{
    border-color: #F74848;
}
#lembrei-esforco{
    border-color: #62DB38;
}
#zap{
    border-color: #FFEF61;
    font-weight: bold;
}