@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.tela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 230px;
    width: 13%;
}
.iniciar{
    width: 25%;
    height: 72px;
    
    background-color: white;
    
    margin-top: 150px;
    border: 3px solid #FFEF61;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 65px;
    gap: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.iniciar:hover{
    cursor: pointer;
}